<form class="col-11 text-center justify-content-center" method="POST" action="/photos" enctype="multipart/form-data">

  <div class="text-center form-group justify-content-center">

    <div>
      <label for="caption">Caption</label>
      <input type="text" name="caption" id="caption" placeholder="Caption">
    </div>

    <div>
      <label for="stars">Stars</label>
      <input type="number" name="stars" id="stars" placeholder="Stars">
    </div>

    <div>
      <label for="image">Image</label>
      <input type="file" class="form-control" name="image" id="image" placeholder="Image">
    </div>

  <button type="submit" class="btn btn-primary col">Upload</button>

</form>
